$phone: "only screen and (max-width : 800px)"
$uhd: "only screen and (min-width : 2000px)"
.main-container
  width: 100%
  display: flex
  flex-flow: column
  align-items: center

.my-head
  font-size: 5vw

.food-list-container
  width: 100%
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-items: flex-start

.food-item-container
  width: 300px
  height: 200px
  background-color: lightgrey
  margin: 1vw 0
  display: flex
  justify-content: center
  align-items: center
  &:empty
    height: 0

.food-item
  color: white
  font-size: 3vw

//@media #{$phone}

  .my-head
    font-size: 10vw

  .food-item-container
    width: 100%
    height: 50vw

  .food-item
    font-size: 8vw

//@media #{$uhd}

  .food-item-container
    width: 33%
    height: 20vW